<h1>Add Card</h1>
<form #cardForm="ngForm" (ngSubmit)="addCard(cardForm)">
  <input name="title" ngModel placeholder="Title" required />
  <input name="description" ngModel placeholder="Description" />
  <button type="submit">Add</button>
</form>

<hr />

<h2>Cards</h2>
<div *ngFor="let card of cards">
  <ng-container *ngIf="editingId !== card.id; else editTpl">
    <p>
      <b>{{ card.title }}</b> - {{ card.description }}
      <button type="button" (click)="startEdit(card)">Edit</button>
      <button type="button" (click)="deleteCard(card.id)">Delete</button>
    </p>
  </ng-container>
  <ng-template #editTpl>
    <p>
      <input [(ngModel)]="editDraft.title" placeholder="Title" />
      <input [(ngModel)]="editDraft.description" placeholder="Description" />
      <button type="button" (click)="saveEdit()">Save</button>
      <button type="button" (click)="cancelEdit()">Cancel</button>
    </p>
  </ng-template>
</div>
